<nav class="nav">
    <div class="container">
        <div class="nav__container"> 
            <p class="nav__txt">СЛУЖБА РЕМОНТА НА ПРОЛЕТАРСКОЙ</p>
                <div class="nav__info">
                    <img src="img/icon.svg" alt="" class="nav__img" >
                    <a href="#!" class="nav__link">Работаем по Томску,    Северску и области</a>
                    <a href="#!" class="nav__btn"><img src="img/path54.svg" alt="" class="nav__img">Написать в Whatsapp</a>
                    <img src="img/ic.svg" alt="" class="nav__img" >
                    <a href="tel:83822500512" class="nav__link2"> 8 (3822) 50-05-12</a>
                </div>
        </div>
        <div class="nav__container menu">
            <a href="#!">
                <img src="img/logo.png" alt="" class="nav__logo">
            </a>
            <div class="nav__menu">
                <span class="nav__line"></span>
            </div>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#!" class="nav-link">Подарок от ПРОФИ</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav-link border">Наши СпецЗаказы</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav-link">О компании</a>
                </li>
            </ul>
        </div>
         
    </div>
    
</nav>